

/* home hero ===========================================================*/


.visually-hidden {   
overflow: hidden; height: 1px;  width: 1px; 
position: absolute;  
clip: rect(0 0 0 0);
clip-path: inset(50%);  
white-space: nowrap;}


.home-hero {
  position: relative;
  top: 0;
  left: 0;
}

.background-image {
  position: relative;
  width: 100%;
  max-height: 70%;
  flex-shrink: 0;
}

.overlay-image {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
}

/* main ===========================================================*/

main h2 {

  display: flex;
  padding: 3rem 5rem;
}

/* home container START  ===========================================================*/

.home-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  width: 100%;
}

/*  home container styling  ===========================================================*/

.home-container-first {
  background-color: #FF5000;
  color: white; 
  display: flex;
  flex-direction: column; 
}

.home-container-second {
  background-color: #008855;
  color: white;
  display: flex;
  flex-direction: column; 
}

/* home container image styling  ===========================================================*/

.home-container-first img,
.home-container-second img {
  width: 100%; 
  height: auto; 
}

/* home container title styling  ===========================================================*/

.home-container h3 {
  padding: 2rem 2rem;
}

/* home container date styling  ===========================================================*/

.home-container span {

  display: flex;
  flex-direction: column;
  font-family: "Albert Sans";
  color: black;
  letter-spacing: 1.2px;
  font-size: 1.5rem;
  font-weight: 400;
  gap: 8px;
  padding: 0 2rem;
}

.home-container p {
  padding: 2rem
}


/* highlighted container START  ===========================================================*/

.highlighted-container {
  display: flex;
  width: 80%; 
  margin: 0 auto; 
  padding-bottom: 3rem;
  
}

/* highlighted container styling  ===========================================================*/

.highlighted-container-first,
.highlighted-container-second {
  background-color: #E5E470;
  display: flex;
  width: 41rem;
  padding: 2rem 2rem 2rem 4rem;
  flex-direction: column;
  gap: 1rem;
  align-self: stretch;
}

.highlighted-container-first {
  border-right: 1px solid black;
}

.highlighted-row {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  align-self: stretch;
}

/* highlighted image styling  ===========================================================*/

.highlighted-container-first img,
.highlighted-container-second img {
  width: 11rem;
  height: 9rem;
  object-fit: cover;
}


/* articles container START ===========================================================*/

.article-container {

  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  width: 70%; 
  margin: 0 auto; 
  gap: 10px;
  border-top: 1px solid black;
  padding-bottom: 2rem;
}

.article-card {
position: relative;
padding: 1rem;
gap: 1rem;
border-width: 0 1px 0 0; /* Top, Right, Bottom, Left */
border-style: solid;
border-color: black;
}

.fly {
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
  background-color: white;
  padding: 0.5rem;
  border-radius: 50%;
}

/* articles container text ===========================================================*/

.article-container h3 {
  padding: 1rem 0 1rem 0;
}

.article-container span {
  display: flex;
  flex-direction: column;
  font-family: "Albert Sans";
  color: #008855;
  letter-spacing: 1.2px;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 10px 0;
}


