/* header responsive ===========================================================*/

@media (max-width: 64rem) {
  .nav-left {
    display: none;
  }

  .nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }

  .tickets {
    text-align: center;
  }

  .hamburger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* footer responsive  ===========================================================*/

@media (max-width: 65rem) {
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  .footer-section-second {
    align-items: center;
    width: 100%;
  }

  .footer-section-second button {
    width: 100%;
    margin: 1rem;
  }

  .socials a {
    margin: 0.5rem;
  }

  .languages {
    text-align: center;
    margin-top: 1rem;
  }

  .copyrights-content {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .copyrights-content ul {
    flex-direction: column;
    gap: 0.5rem;
  }

  .copyrights-icons {
    flex-direction: column;
  }

  .made-by {
   padding-right: 2rem;
  }
}

/* INDEX PAGE  ===========================================================*/
/* home container  ===========================================================*/

@media (max-width: 768px) {
  .home-container {
    grid-template-columns: 1fr;
  }

  .home-container-first,
  .home-container-second {
    padding: 15px;
  }
}

/* highlighted   ===========================================================*/

@media screen and (max-width: 1024px) {
  .highlighted-container-first,
  .highlighted-container-second {
    width: 100%;
    border-right: none;
  }

  .highlighted-row {
    flex-direction: column;
    gap: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .highlighted-container {
    width: 100%;
    padding: 1rem;
  }

  .highlighted-container-first,
  .highlighted-container-second {
    padding: 1rem;
  }
}

/* articles responsive  ===========================================================*/

@media (max-width: 1024px) {
  .article-container {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
  }
}

@media (max-width: 768px) {
  .article-container {
    grid-template-columns: 1fr;
    width: 100%;
    gap: 1.5px;
  }

  .article-card img {
    width: 100%;
  }
}

/* EVENTS page  ===========================================================*/

@media (max-width: 70rem) {
  .event-container {
    width: 100%;
    margin: 8rem 0 1rem;
    gap: 1rem;
    padding: 1rem;
  }

  .event-time {
    font-size: 1.4rem;
  }

  .event-info {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  .event-info img {
    width: 100%;
    height: auto;
  }

  .events-video-container {
    width: 100%;
    margin: 2rem 0 1rem;
    gap: 1rem;
    padding: 1rem;
  }

  iframe {
    width: 100%;
  }
}

/* VISIT page  ===============================================*/

@media (max-width: 64rem) { 
.columns {
  flex-direction: column;
  gap: 2rem; 
}

.visit-first-column,
.visit-second-column {
  max-width: 100%;
}
}

@media (max-width: 768px) { 
.visit-container {
  width: 90%; 
  padding: 1rem;
}
.secondary-titles {
  font-size: 2.5rem;
}
.columns {
  gap: 1.5rem;
}

.visit-first-column,
.visit-second-column {
  padding: 1rem;
}

.prices li {
  gap: 1rem; 
  padding-bottom: 1rem; 
}

table th,
table td {
  padding: 0.5rem;
}
}


/* ABOUT page  ===========================================================*/


@media (max-width: 64rem) { 
  .about-container {
    margin: 3rem auto;
    padding: 3rem 1.5rem;
    gap: 2rem;
  }

  .introSection,
  .feature,
  .mission {
    gap: 1.5rem;
  }

  .header {
    font-size: 1.125rem; 
    padding: 0.75rem 1rem;
  }

  .section p {
    padding: 0.75rem 1rem;
    font-size: 0.95rem;
  }
}

@media (max-width: 48rem) {
  .about-container {
    margin: 2rem auto;
    padding: 7rem 1rem;
    gap: 1.5rem;
  }

  .introSection,
  .feature,
  .mission {
    gap: 1rem;
  }

  .header {
    font-size: 1rem; 
    padding: 0.5rem 0.75rem;
  }

  .section p {
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
  }
}