/* HEADER  ===========================================================*/


/* FOOTER  ===========================================================*/


@media  (max-width: 1200px) {
  
  .footer-container {
    flex-direction: column;
     align-items: center; 
   }
 
   .footer-section-second {
     align-items: center; 
     width: 100%;
   }

  .footer-section-second button {
    width: 100%; 
    margin: 1rem;
  }

  .socials a {
    margin: 1rem;
  }

  .languages {
    text-align: center; 
   margin-top: 1rem;
  }

  .copyrights {
    padding: 1rem;
  }

  .copyrights-content {
    flex-direction: column; 
  }

  .copyrights-content p {
  padding-bottom: 1rem; 
  }


  .copyrights-icons {
   margin-top: 1rem;
  }

}









/* INDEX PAGE  ===========================================================*/
/* article responsive  ===========================================================*/

@media (max-width: 768px) {
  .home-container {
    grid-template-columns: 1fr;
  }

  .home-container-first,
  .home-container-second {
    padding: 15px;
  }
}

/* highlighted responsive  ===========================================================*/

@media (max-width: 768px) {
  .highlighted-container {
    flex-direction: column;
    width: 100%;
  }

  .highlighted-container-first,
  .highlighted-container-second {
    width: 100%;
    border-right: none;
    padding: 1rem;
  }

  .highlighted-row {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .highlighted-container-first img,
  .highlighted-container-second img {
    width: 100%;
    height: auto;
  }
}

/* articles responsive  ===========================================================*/

@media (max-width: 1024px) {
  .article-container {
    grid-template-columns: repeat(2, 1fr); 
    width: 90%;
  }
}

@media (max-width: 768px) {
  .article-container {
    grid-template-columns: 1fr; 
    width: 100%; 
    gap: 1.5px; 
  }



  .article-card img {
    width: 100%;
  }

}

